body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    font-family: sans-serif;
}


header {
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 90vw;
    padding: 10px
}

.left-nav {
    display: flex;
}

.right-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 80vw;

}

.git {
    height: 32px;
    width: 32px;
    padding-right: 10px;
}


canvas {
    background-color: rgb(199, 199, 199);
    height: 80vh;
    width: 90vw;
}

canvas.light {
    background-color: rgb(20, 20, 20);
}

#gui {
    z-index: 1;
    top: 110px;
    left: -4vw;
    position: relative;
}